<%= simple_form_for(@torpedo) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :key %>
  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= @torpedo.image_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
