<p id="notice"><%= notice %></p>

<h1>Torpedos</h1>

<%= direct_upload_form_for @benemeritar do |comisaridar| %>
  <p><%= comisaridar.file_field :image %></p>
  <p><%= comisaridar.submit "No te digo trigo" %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @torpedos.each do |torpedo| %>
      <tr>
        <td><%= torpedo.name %></td>
        <td><%= image_tag(torpedo.image)%></td>
        <td><%= link_to 'Show', torpedo %></td>
        <td><%= link_to 'Edit', edit_torpedo_path(torpedo) %></td>
        <td><%= link_to 'Destroy', torpedo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>