<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @torpedo.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= image_tag(@torpedo.image).to_s %> 
</p>

<%= link_to 'Edit', edit_torpedo_path(@torpedo) %> |
<%= link_to 'Back', torpedos_path %>
