<div class="container">
    <%= form_tag @fistro, method: 'get' do %>
        <div class="row">
            <div class="left">
                <%= select_tag :select1, options_for_select(select_fistro_1), :include_blank => true%>
                <%= select_tag :select2, options_for_select(select_fistro_2), :include_blank => true%>
            </div>
            <div class="middle">
                <%= text_field_tag :text_from, nil, :class => "text" %>
                <%= text_field_tag :text_to, nil, :class => "text" %>
            </div>
            <div class="right">
            <%= submit_tag "AL ATAQUER", name: nil %>
            </div>
        </div>
        <%= render partial: 'pecadorl' %>
    <% end %>
</div>