<ul>
  <% @fistros.each do |f| %>
    <li>Fistro #<%= f.id %></li>
    <li><%= f.select1 %></li>
    <li><%= f.select2 %></li>
    <li><%= f.text2 %></li>
    <br>
  <% end %>
</ul>
<%= link_to "AGRAMENAUER!", fistros_path %>