 <div class="container">
  <div class="row left">
    <%= @fistro.id %>
    <%= @fistro.select1 %>
  </div>
  <div class="row right">
    <%= @fistro.select2 %>
    <%= @fistro.text2 %>
  </div>
  <div class="row middle">
    <%= link_to "AGRAMENAUER!", fistros_path %>
  </div>
</div>