// Place all the styles related to the fistros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
}
.row {
  height: 50px;
}

.left {
  float: left;
  display: inline-block;
  width: 33%;
  text-align: left;
}

.right {
  float: right;
  display: inline-block;
  width: 33%;
  text-align: right;
}

.middle {
  float: none;
  display: inline-block;
  text-align: center;
}

.text {
  width: 50px;
}

.select {
  width: 150px;
}